//  Main Style

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Noto Sans JP', sans-serif;
}

//Colors

$main-light-color: #eaeff0;
$main-light-color2: #d6dee1;
$main-color: #a2bdc7;
$main-color-dark: #7092a3;
$main-color-dark1: #06273c;
$black-color: #000000;
