@import '_generalStyle.scss';
@import '_responsive.scss';

//  Section Header
header {
  .logo-part {
    display: none;
  }
  background: $main-light-color;
  //  Nav
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .nav-list {
      align-items: center;
      list-style: none;

      .nav-item {
        margin: 1rem;
        text-transform: uppercase;
        text-align: center;

        a {
          text-decoration: none;
          color: $main-color-dark1;
          font-size: 1.2rem;
          transition: all 0.2s ease-in-out 0.1s;
        }
        a:hover {
          color: $black-color;
        }
      }
    }
  }
}

//  Section Home

#home {
  background: linear-gradient(
      30deg,
      rgba(180, 180, 180, 0.3) 17%,
      rgba(48, 48, 48, 0.4) 90%
    ),
    url('../img/hero-cover.jpg') center/cover no-repeat;
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //  Home title and subtitle
  .home-title {
    margin-top: 4rem;
    font-size: 2.8rem;
    text-transform: uppercase;
    color: $main-light-color;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 1.5rem;
  }
  .home-subtitle {
    font-size: 1.2rem;
    color: $main-light-color;
    padding: 1rem;
  }
}

//  Section portfolio

#portfolio {
  // Title
  .portfolio-title {
    font-size: 2rem;
    color: $main-color-dark1;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
  }
  //  Subtitle
  .portfolio-subtitle {
    text-align: center;
    font-size: 1.2rem;
    color: $main-color-dark1;
    padding: 1rem;
  }

  //  album
  .portfolio-album {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    img {
      width: 100vw;
      height: 35vh;
    }
  }
}

// Section Services

#services {
  background: $main-light-color2;

  //  Title
  .services-title {
    font-size: 2rem;
    color: $main-color-dark1;
    text-align: center;
    text-transform: uppercase;
    padding-top: 4rem;
  }
  //  Subtitle
  p {
    text-align: center;
    font-size: 1.2rem;
    color: $main-color-dark1;
    padding: 0.5rem;
  }

  .services-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin-top: 2rem;

    //  Item
    .services-item {
      margin: 1.5rem 0;
      text-align: center;
      h3 {
        font-size: 1.5rem;
        color: $main-color-dark1;
        padding-top: 2rem;
      }
    }
    //  Icons Color
    .fas {
      color: $main-color-dark1;
    }
  }
}

//  Section About

#about {
  margin-top: 3rem;

  //  Title
  .about-title {
    font-size: 2rem;
    color: $main-color-dark1;
    text-align: center;
    text-transform: uppercase;
    padding-top: 4rem;
  }
  .about-subtitle {
    text-align: center;
    font-size: 1.2rem;
    color: $main-color-dark1;
    padding: 1.5rem;
  }

  // Team
  .about-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    // Persons

    //  Person
    .about__person {
      background: linear-gradient(
          30deg,
          rgba(180, 180, 180, 0.7) 17%,
          rgba(48, 48, 48, 0.7) 90%
        ),
        url('../img/portrait.jpg') center/cover no-repeat;
      width: 100vw;
      height: 35vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .about__name {
        font-size: 2.2rem;
        color: $main-light-color;
        text-transform: uppercase;
      }

      .about__description {
        font-size: 1.5rem;
        color: $main-light-color;
      }
    }

    //  Person 1
    .about__person1 {
      background: linear-gradient(
          30deg,
          rgba(180, 180, 180, 0.7) 17%,
          rgba(48, 48, 48, 0.7) 90%
        ),
        url('../img/portrait1.jpg') center/cover no-repeat;
      width: 100vw;
      height: 35vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .about__name {
        font-size: 2.2rem;
        color: $main-light-color;
        text-transform: uppercase;
      }

      .about__description {
        font-size: 1.5rem;
        color: $main-light-color;
      }
    }

    //  Person 2
    .about__person2 {
      background: linear-gradient(
          30deg,
          rgba(180, 180, 180, 0.5) 17%,
          rgba(48, 48, 48, 0.9) 90%
        ),
        url('../img/portrait2.jpg') center/cover no-repeat;
      width: 100vw;
      height: 35vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .about__name {
        font-size: 2.2rem;
        color: $main-light-color;
        text-transform: uppercase;
      }

      .about__description {
        font-size: 1.5rem;
        color: $main-light-color;
      }
    }
  }
}

//  Section Prices

#pricing {
  background: $main-light-color2;

  //  Prices Title
  .pricing-title {
    font-size: 2rem;
    color: $main-color-dark1;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3rem;
  }
  .pricing--subtitle {
    text-align: center;
    font-size: 1.2rem;
    color: $main-color-dark1;
    padding: 0.5rem;
  }

  //  All
  .prices-all {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;

    //  Item
    .prices-item {
      text-align: center;
      border: 2px solid $main-color-dark1;
      margin: 1.5rem 0;
      border-radius: 1.2rem;
      padding: 1.5rem;
      background: $main-light-color;
      width: 80vw;
      //  Price Item Tittle
      .price-item__title {
        font-size: 1.4rem;
        color: $main-color-dark1;
        padding: 0.5rem;
        text-transform: uppercase;
      }
      .price-item__amount {
        font-size: 1.4rem;
        color: $main-color-dark1;
        padding: 0.5rem;
        font-weight: 700;
      }
      .product-item__support {
        font-size: 1.2rem;
        color: $main-color-dark1;
        padding: 0.5rem;
      }
      .product-item__newsletter {
        font-size: 1.2rem;
        color: $main-color-dark1;
        padding: 0.5rem;
      }
      .price-item__contactForm {
        font-size: 1.2rem;
        color: $main-color-dark1;
        padding: 0.5rem 0 1rem 0;
      }
      //  Price Item Button
      .price-item__btn {
        color: $black-color;
        border: solid 2px $main-color-dark1;
        font-size: 1.2rem;
        padding: 0.5rem;
        font-weight: 700;
        border-radius: 0.5rem;
        width: 40vw;
        cursor: pointer;
      }
    }
  }
}

//  Section contact

#contact {
  background: $main-light-color;

  .contact-title {
    font-size: 2rem;
    color: $main-color-dark1;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3rem;
  }

  .contact-subtitle {
    text-align: center;
    font-size: 1.2rem;
    color: $main-color-dark1;
    padding: 0.5rem;
  }

  //  Form
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem auto;

    .form-text {
      width: 80vw;
      border: solid 2px $main-color-dark1;
      padding: 0.5rem;
      margin: 1.5rem;
      border-radius: 0.5rem;
    }

    .form-email {
      width: 80vw;
      border: solid 2px $main-color-dark1;
      padding: 0.5rem;
      margin: 1.5rem;
      border-radius: 0.5rem;
    }

    .form-textarea {
      width: 80vw;
      height: 8vh;
      border: solid 2px $main-color-dark1;
      padding: 0.5rem;
      margin: 1rem;
      border-radius: 0.5rem;
    }

    .form-submit {
      width: 80vw;
      border: solid 2px $main-color-dark1;
      padding: 0.5rem;
      margin: 1.5rem;
      border-radius: 0.5rem;
      cursor: pointer;
      color: $main-color-dark1;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 700;
      background: $main-color-white;
      letter-spacing: 2px;
    }
  }

  //  Info Part
  .our-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .our-info__address {
      list-style: none;
      text-align: center;
      margin-bottom: 2rem;

      .our-info__tittle {
        font-size: 1.8rem;
        color: $main-color-dark1;
        padding: 1rem;
        font-weight: 700;
      }

      .our-info__street {
        font-size: 1.4rem;
        color: $main-color-dark1;
        padding: 0.5rem;
      }
    }

    .our-info__contacts {
      list-style: none;
      text-align: center;

      .our-info__hello {
        font-size: 1.8rem;
        color: $main-color-dark1;
        padding: 1rem;
        font-weight: 700;
      }

      .our-info__email {
        font-size: 1.4rem;
        color: $main-color-dark1;
        padding: 0.5rem;
      }
      .our-info__phone {
        font-size: 1.5rem;
        color: $main-color-dark1;
        padding: 0.5rem;
        font-weight: 700;
      }
    }
  }
}

//  Footer

footer {
  background: $main-color;
  text-align: center;
  padding: 1rem;
  .footer-description {
    font-size: 1.4rem;
    color: $main-color-dark1;
    padding: 1rem;
  }
}
