* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Noto Sans JP', sans-serif; }

header {
  background: #eaeff0; }
  header .logo-part {
    display: none; }
  header .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    header .main-nav .nav-list {
      align-items: center;
      list-style: none; }
      header .main-nav .nav-list .nav-item {
        margin: 1rem;
        text-transform: uppercase;
        text-align: center; }
        header .main-nav .nav-list .nav-item a {
          text-decoration: none;
          color: #06273c;
          font-size: 1.2rem;
          transition: all 0.2s ease-in-out 0.1s; }
        header .main-nav .nav-list .nav-item a:hover {
          color: #000000; }

#home {
  background: linear-gradient(30deg, rgba(180, 180, 180, 0.3) 17%, rgba(48, 48, 48, 0.4) 90%), url("../img/hero-cover.jpg") center/cover no-repeat;
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #home .home-title {
    margin-top: 4rem;
    font-size: 2.8rem;
    text-transform: uppercase;
    color: #eaeff0;
    letter-spacing: 2px;
    font-weight: 700; }
  #home .home-subtitle {
    font-size: 1.2rem;
    color: #eaeff0;
    padding: 1rem; }

#portfolio .portfolio-title {
  font-size: 2rem;
  color: #06273c;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem; }
#portfolio .portfolio-subtitle {
  text-align: center;
  font-size: 1.2rem;
  color: #06273c;
  padding: 1rem; }
#portfolio .portfolio-album {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }
  #portfolio .portfolio-album img {
    width: 100vw;
    height: 35vh; }

#services {
  background: #d6dee1; }
  #services .services-title {
    font-size: 2rem;
    color: #06273c;
    text-align: center;
    text-transform: uppercase;
    padding-top: 4rem; }
  #services p {
    text-align: center;
    font-size: 1.2rem;
    color: #06273c;
    padding: 0.5rem; }
  #services .services-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin-top: 2rem; }
    #services .services-items .services-item {
      margin: 1.5rem 0;
      text-align: center; }
      #services .services-items .services-item h3 {
        font-size: 1.5rem;
        color: #06273c;
        padding-top: 2rem; }
    #services .services-items .fas {
      color: #06273c; }

#about {
  margin-top: 3rem; }
  #about .about-title {
    font-size: 2rem;
    color: #06273c;
    text-align: center;
    text-transform: uppercase;
    padding-top: 4rem; }
  #about .about-subtitle {
    text-align: center;
    font-size: 1.2rem;
    color: #06273c;
    padding: 1.5rem; }
  #about .about-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
    #about .about-team .about__person {
      background: linear-gradient(30deg, rgba(180, 180, 180, 0.7) 17%, rgba(48, 48, 48, 0.7) 90%), url("../img/portrait.jpg") center/cover no-repeat;
      width: 100vw;
      height: 35vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      #about .about-team .about__person .about__name {
        font-size: 2.2rem;
        color: #eaeff0;
        text-transform: uppercase; }
      #about .about-team .about__person .about__description {
        font-size: 1.5rem;
        color: #eaeff0; }
    #about .about-team .about__person1 {
      background: linear-gradient(30deg, rgba(180, 180, 180, 0.7) 17%, rgba(48, 48, 48, 0.7) 90%), url("../img/portrait1.jpg") center/cover no-repeat;
      width: 100vw;
      height: 35vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      #about .about-team .about__person1 .about__name {
        font-size: 2.2rem;
        color: #eaeff0;
        text-transform: uppercase; }
      #about .about-team .about__person1 .about__description {
        font-size: 1.5rem;
        color: #eaeff0; }
    #about .about-team .about__person2 {
      background: linear-gradient(30deg, rgba(180, 180, 180, 0.5) 17%, rgba(48, 48, 48, 0.9) 90%), url("../img/portrait2.jpg") center/cover no-repeat;
      width: 100vw;
      height: 35vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      #about .about-team .about__person2 .about__name {
        font-size: 2.2rem;
        color: #eaeff0;
        text-transform: uppercase; }
      #about .about-team .about__person2 .about__description {
        font-size: 1.5rem;
        color: #eaeff0; }

/*# sourceMappingURL=mainStyle.css.map */
