@import '_generalStyle.scss';
@import '_mixIn.scss';

//  Section Header
header {
  //  Media query
  @media (min-width: 40rem) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-part {
    display: none;

    //  Media query
    @media (min-width: 40rem) {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 1.6rem;
    }

    p {
      display: none;
      //  Media query
      @media (min-width: 50rem) {
        display: contents;
      }
    }
  }

  background: $main-light-color;

  // Main  Nav
  .main-nav {
    @include flex;

    //  Media query
    @media (min-width: 40rem) {
      padding: 1.8rem;
    }
    .nav-list {
      align-items: center;
      list-style: none;

      //  Media query
      @media (min-width: 40rem) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .nav-item {
        margin: 1rem;
        text-transform: uppercase;
        text-align: center;
        a {
          text-decoration: none;
          color: $main-color-dark1;
          font-size: 1.2rem;
          transition: all 0.2s ease-in-out 0.1s;

          //  Media query
          @media (min-width: 40rem) {
            font-size: 1.6rem;
          }
        }
        a:hover {
          color: $black-color;
        }
      }
    }
  }
}

//  Section Home
#home {
  background: linear-gradient(
      30deg,
      rgba(180, 180, 180, 0.3) 17%,
      rgba(48, 48, 48, 0.4) 90%
    ),
    url('../img/hero-cover.jpg') center/cover no-repeat;
  height: 50vh;
  width: 100vw;
  @include flex;

  //  Home title and subtitle
  .home-title {
    margin-top: 4rem;
    font-size: 2.8rem;
    text-transform: uppercase;
    color: $main-light-color;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 1.5rem;

    //  Media query
    @media (min-width: 40rem) {
      font-size: 4rem;
    }
  }
  .home-subtitle {
    font-size: 1.2rem;
    color: $main-light-color;
    padding: 1rem;

    //  Media query
    @media (min-width: 40rem) {
      font-size: 2rem;
    }
  }
}

//  Section portfolio
#portfolio {
  // Title
  .portfolio-title {
    @include title;
    margin-top: 2rem;

    //  Media query
    @media (min-width: 40rem) {
      font-size: 2.5rem;
    }
  }
  //  Subtitle
  .portfolio-subtitle {
    @include subtitle;
    padding: 1rem;

    //  Media query
    @media (min-width: 40rem) {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
    }
  }
  //  album
  .portfolio-album {
    @include flex;

    //  Media query
    @media (min-width: 50rem) {
      display: grid;
      grid-template-columns: repeat(4, auto);
    }

    img {
      width: 100vw;
      height: 35vh;

      //  Media query
      @media (min-width: 30rem) {
        width: 100vw;
        height: 30vh;
      }

      @media (min-width: 50rem) {
        width: 25vw;
        height: 30vh;
      }
    }
  }
}

// Section Services
#services {
  background: $main-light-color2;
  //  Title
  .services-title {
    @include title;
    padding-top: 4rem;
  }
  //  Subtitle
  p {
    @include subtitle;
    padding: 0.5rem;
  }
  .services-items {
    @include flex;

    //  Media query
    @media (min-width: 40rem) {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    list-style: none;
    margin-top: 2rem;
    //  Item
    .services-item {
      margin: 1.5rem 0;
      text-align: center;
      h3 {
        font-size: 1.5rem;
        color: $main-color-dark1;
        padding-top: 2rem;
      }
    }
    //  Icons Color
    .fas {
      color: $main-color-dark1;
    }
  }
}

//  Section About
#about {
  margin-top: 3rem;
  //  Title
  .about-title {
    @include title;
  }
  .about-subtitle {
    @include subtitle;
    padding: 1.5rem;
  }

  // Team
  .about-team {
    @include flex;

    //  Media query
    @media (min-width: 50rem) {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    //  Person
    .about__person {
      background: linear-gradient(
          30deg,
          rgba(180, 180, 180, 0.7) 17%,
          rgba(48, 48, 48, 0.7) 90%
        ),
        url('../img/portrait.jpg') center/cover no-repeat;
      width: 100vw;
      height: 35vh;
      @include flex;

      .about__name {
        font-size: 2.2rem;
        color: $main-light-color;
        text-transform: uppercase;
      }
      @include about-description;
    }

    //  Person 1
    .about__person1 {
      background: linear-gradient(
          30deg,
          rgba(180, 180, 180, 0.7) 17%,
          rgba(48, 48, 48, 0.7) 90%
        ),
        url('../img/portrait1.jpg') center/cover no-repeat;
      width: 100vw;
      height: 35vh;
      @include flex;

      .about__name {
        font-size: 2.2rem;
        color: $main-light-color;
        text-transform: uppercase;
      }
      @include about-description;
    }

    //  Person 2
    .about__person2 {
      background: linear-gradient(
          30deg,
          rgba(180, 180, 180, 0.5) 17%,
          rgba(48, 48, 48, 0.9) 90%
        ),
        url('../img/portrait2.jpg') center/cover no-repeat;
      width: 100vw;
      height: 35vh;
      @include flex;

      .about__name {
        font-size: 2.2rem;
        color: $main-light-color;
        text-transform: uppercase;
      }
      @include about-description;
    }
  }
}

//  Section Prices
#pricing {
  background: $main-light-color2;

  //  Prices Title
  .pricing-title {
    @include title;
    padding-top: 3rem;
  }
  .pricing--subtitle {
    @include subtitle;
    padding: 0.5rem;
  }

  //  All
  .prices-all {
    @include flex;
    list-style: none;

    //  Item
    .prices-item {
      text-align: center;
      border: 2px solid $main-color-dark1;
      margin: 1.5rem 0;
      border-radius: 1.2rem;
      padding: 1.5rem;
      background: $main-light-color;
      width: 80vw;

      //  Media query
      @media (min-width: 40rem) {
        border-radius: 0;
        border: none;
        width: 50vw;
      }
      //  Price Item Tittle
      .price-item__title {
        font-size: 1.4rem;
        color: $main-color-dark1;
        padding: 0.5rem;
        text-transform: uppercase;
      }
      .price-item__amount {
        font-size: 1.4rem;
        color: $main-color-dark1;
        padding: 0.5rem;
        font-weight: 700;
      }
      .product-item__support {
        font-size: 1.2rem;
        color: $main-color-dark1;
        padding: 0.5rem;
      }
      .product-item__newsletter {
        font-size: 1.2rem;
        color: $main-color-dark1;
        padding: 0.5rem;
      }
      .price-item__contactForm {
        font-size: 1.2rem;
        color: $main-color-dark1;
        padding: 0.5rem 0 1rem 0;
      }
      //  Price Item Button
      .price-item__btn {
        color: $black-color;
        border: solid 2px $main-color-dark1;
        font-size: 1.2rem;
        padding: 0.5rem;
        font-weight: 700;
        border-radius: 0.5rem;
        width: 40vw;
        cursor: pointer;

        //  Media query
        @media (min-width: 40rem) {
          width: 15vw;
        }
      }
    }
  }
}

//  Section contact
#contact {
  background: $main-light-color;

  .contact-title {
    @include title;
    padding-top: 3rem;
  }

  .contact-subtitle {
    @include subtitle;
    padding: 0.5rem;
  }

  // Contact
  .contact {
    //  Media query
    @media (min-width: 40rem) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  //  Form
  .contact-form {
    @include flex;
    margin: 2rem auto;

    //  Media query
    @media (min-width: 40rem) {
      margin: 1rem 0.5rem;
    }

    .form-text {
      width: 80vw;
      border: solid 2px $main-color-dark1;
      padding: 0.5rem;
      margin: 1.5rem;
      border-radius: 0.5rem;

      //  Media query
      @media (min-width: 40rem) {
        width: 40vw;
      }
    }

    .form-email {
      width: 80vw;
      border: solid 2px $main-color-dark1;
      padding: 0.5rem;
      margin: 1.5rem;
      border-radius: 0.5rem;

      //  Media query
      @media (min-width: 40rem) {
        width: 40vw;
      }
    }

    .form-textarea {
      width: 80vw;
      height: 8vh;
      border: solid 2px $main-color-dark1;
      padding: 0.5rem;
      margin: 1rem;
      border-radius: 0.5rem;

      //  Media query
      @media (min-width: 40rem) {
        width: 40vw;
      }
    }

    .form-submit {
      width: 80vw;
      border: solid 2px $main-color-dark1;
      padding: 0.5rem;
      margin: 1.5rem;
      border-radius: 0.5rem;
      cursor: pointer;
      color: $main-color-dark1;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 700;
      background: $main-color-white;
      letter-spacing: 2px;

      //  Media query
      @media (min-width: 40rem) {
        width: 40vw;
      }
    }
  }

  //  Info Part
  .our-info {
    @include flex;

    .our-info__address {
      list-style: none;
      text-align: center;
      margin-bottom: 2rem;

      .our-info__tittle {
        font-size: 1.8rem;
        color: $main-color-dark1;
        padding: 1rem;
        font-weight: 700;
      }

      .our-info__street {
        font-size: 1.4rem;
        color: $main-color-dark1;
        padding: 0.5rem;
      }
    }

    .our-info__contacts {
      list-style: none;
      text-align: center;

      .our-info__hello {
        font-size: 1.8rem;
        color: $main-color-dark1;
        padding: 1rem;
        font-weight: 700;
      }

      .our-info__email {
        font-size: 1.4rem;
        color: $main-color-dark1;
        padding: 0.5rem;
      }
      .our-info__phone {
        font-size: 1.5rem;
        color: $main-color-dark1;
        padding: 0.5rem;
        font-weight: 700;
      }
    }
  }
}
//  Footer
footer {
  background: $main-color;
  text-align: center;
  padding: 1rem;
  .footer-description {
    font-size: 1.4rem;
    color: $main-color-dark1;
    padding: 1rem;
  }
}
